<app-header-publico></app-header-publico>

<div class="container-fluid">
<div class="row justify-content-center">
    <div class="col-lg-6">
        <h3 class="h3 mb-0 text-gray-800">Reiniciar contraseña</h3>
        <h6 class="h6 mb-0 text-gray-800">Ingrese sus datos y una nueva contraseña para cambiarla</h6>
        <h6 class="h6 mb-0 text-gray-800">Si sus datos no coinciden no podrá realizar el cambio</h6>
        <form>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="first_name">Primer Nombre *</label>
                    <input [(ngModel)]="first_name" name ="first_name" type="text" class="form-control " 
                        placeholder="First Name" value="{{first_name}}"required>
                </div>
                <div class="col-sm-6">
                    <label for="last_name">Apellido *</label>
                    <input [(ngModel)]="last_name" name ="last_name" type="text" class="form-control " placeholder="Last Name" required>
                </div>
            </div>
            <div class="form-group">
                <label for="location">País *</label>
                <input [(ngModel)]="location" name ="location" type="text" class="form-control " placeholder="Location" required>
            </div>
            <div class="form-group">
                <label for="username">Nombre de usuario *</label>
                <input [(ngModel)]="username" name ="username" type="text" class="form-control " placeholder="User Name" required>
            </div>
            <div class="form-group">
                <label for="rol">Rol *</label>
                <select [(ngModel)]="rol" name ="rol" class="form-control" >
                    <option>user</option>
                    <option>admin</option>
                </select>
            </div>
            <div class="form-group row">
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="newPassword">Nueva Contraseña *</label>
                    <input [(ngModel)]="newPassword" name ="newPassword" type="password" class="form-control " placeholder="Contraseña" required>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <label for="confirmPasword">Confirme Nueva Contraseña *</label>
                    <input [(ngModel)]="confirmNewpassword" name ="confirmPasword" type="password" class="form-control " id="confirmPasword" placeholder="Confirme Contraseña" required>
                </div>
            </div>

            <div class="form-group ">
                <div class="col-sm-4 mb-3 mb-sm-0">
                    <button type="button" class="btn btn-primary" (click)="Registrar()">Registrar Cambio</button>    
                </div>
            </div>
                                        
        </form>
    </div>
</div>
</div>
